{% block sonata_security_roles_widget %}
{% spaceless %}
    <div class="editable">
        <h4>{{ 'field.label_roles_editable'|trans({}, "SonataUserBundle") }}</h4>
        {{ block('choice_widget') }}
    </div>
    {% if read_only_choices|length > 0 %}
    <div class="readonly">
        <h4>{{ 'field.label_roles_readonly'|trans({}, "SonataUserBundle") }}</h4>
        <ul>
        {% for choice in read_only_choices %}
            <li>{{ choice }}</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endspaceless %}
<label><input type="checkbox"  id="check_all_roles" onclick="checkAll()" ><span>Check All</span></label>
{% endblock sonata_security_roles_widget %}
